In [1]:
from blog.models import Post

In [2]:
Comment

blog.models.Comment

In [3]:
comment = Comment.objects.first()

In [4]:
from django.db import connection

In [5]:
connection.queries[-1]

{'sql': 'SELECT "blog_comment"."id", "blog_comment"."post_id", "blog_comment"."author", "blog_comment"."message", "blog_comment"."created_at", "blog_comment"."updated_at" FROM "blog_comment" ORDER BY "blog_comment"."id" ASC LIMIT 1',
 'time': '0.001'}

In [6]:
comment.post_id

2008

In [7]:
comment.post

In [8]:
connection.queries[-1]

{'sql': 'SELECT "blog_post"."id", "blog_post"."user_id", "blog_post"."title", "blog_post"."content", "blog_post"."tags", "blog_post"."lnglat", "blog_post"."created_at", "blog_post"."updated_at", "blog_post"."status" FROM "blog_post" WHERE "blog_post"."id" = 2008',
 'time': '0.001'}

In [9]:
print(comment.post)#이게 간편
print(Post.objects.get(id=comment.post_id))
# 두개로 호출가능

"MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)
"MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)

In [10]:
##OneToOneField

In [11]:
Profile

accounts.models.Profile

In [12]:
profile = Profile.objects.first()

In [13]:
connection.queries[-1]

{'sql': 'SELECT "accounts_profile"."id", "accounts_profile"."user_id", "accounts_profile"."phone_number", "accounts_profile"."address" FROM "accounts_profile" ORDER BY "accounts_profile"."id" ASC LIMIT 1',
 'time': '0.001'}

In [14]:
profile.user_id

1

In [15]:
profile.user

In [16]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."id" = 1',
 'time': '0.000'}

##related_name

In [18]:
post = Post.objects.first()
print(Comment.objects.filter(post=post))# 방법1
print(post.comment_set.all()) #방법2 - related name

<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>
<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>

In [19]:
Comment.objects.create(post=post, author = '남태식', message = '댓글#1')

In [21]:
user = User.objects.first()

In [22]:
print(user.blog_post_set.all()) # related name 으로 접근하는 방법

<QuerySet [<Post: FADF>, <Post: "MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)>, <Post: 제목 #999>, <Post: 제목 #998>, <Post: 제목 #997>, <Post: 제목 #996>, <Post: 제목 #995>, <Post: 제목 #994>, <Post: 제목 #993>, <Post: 제목 #991>, <Post: 제목 #990>, <Post: 제목 #989>, <Post: 제목 #988>, <Post: 제목 #987>, <Post: 제목 #986>, <Post: 제목 #985>, <Post: 제목 #984>, <Post: 제목 #983>, <Post: 제목 #982>, <Post: 제목 #981>, '...(remaining elements truncated)...']>

In [29]:
print(Post.objects.filter(user=user))# 일반적으로 Post전체에서 filter조건을 걸어 user와 일치하는 정보를 얻는방법

<QuerySet [<Post: FADF>, <Post: "MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)>, <Post: 제목 #999>, <Post: 제목 #998>, <Post: 제목 #997>, <Post: 제목 #996>, <Post: 제목 #995>, <Post: 제목 #994>, <Post: 제목 #993>, <Post: 제목 #991>, <Post: 제목 #990>, <Post: 제목 #989>, <Post: 제목 #988>, <Post: 제목 #987>, <Post: 제목 #986>, <Post: 제목 #985>, <Post: 제목 #984>, <Post: 제목 #983>, <Post: 제목 #982>, <Post: 제목 #981>, '...(remaining elements truncated)...']>