In [14]:
from blog.models import Post

In [15]:
Post.objects.filter(id=2000).delete()

(0, {})

In [16]:
Post.objects.filter(tag_set__name='django')

In [17]:
Post.objects.filter(tag_set__name__in=['django', 'python'])

In [18]:
Comment

blog.models.Comment

In [19]:
comment = Comment.objects.first()

In [20]:
from django.db import connection

In [21]:
connection.queries[-1]

{'sql': 'SELECT "blog_comment"."id", "blog_comment"."post_id", "blog_comment"."author", "blog_comment"."message", "blog_comment"."created_at", "blog_comment"."updated_at" FROM "blog_comment" ORDER BY "blog_comment"."id" ASC LIMIT 1',
 'time': '0.000'}

In [22]:
comment.post_id

2008

In [23]:
comment.post

In [24]:
connection.queries[-1]

{'sql': 'SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."tags", "blog_post"."lnglat", "blog_post"."created_at", "blog_post"."updated_at", "blog_post"."status" FROM "blog_post" WHERE "blog_post"."id" = 2008',
 'time': '0.001'}

In [25]:
print(comment.post)#이게 간편
print(Post.objects.get(id=comment.post_id))
# 두개로 호출가능

"MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)
"MS에 도전장"…티맥스, 새 PC운영체제 '티맥스OS' 공개(종합)

In [27]:
##OneToOneField

In [28]:
Profile

accounts.models.Profile

In [29]:
profile = Profile.objects.first()

In [30]:
connection.queries[-1]

{'sql': 'SELECT "accounts_profile"."id", "accounts_profile"."user_id", "accounts_profile"."phone_number", "accounts_profile"."address" FROM "accounts_profile" ORDER BY "accounts_profile"."id" ASC LIMIT 1',
 'time': '0.001'}

In [32]:
profile.user_id

1

In [33]:
profile.user

In [34]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."id" = 1',
 'time': '0.001'}

##related_name

In [45]:
Comment.objects.create(post=post, author = '남태식', message = '댓글#1')

In [46]:
post = Post.objects.first()
print(Comment.objects.filter(post=post))# 방법1
print(post.comment_set.all()) #방법2 - related name

<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>
<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>

In [43]:
comment = Comment.objects.first()
comment.post